@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color: #0065FC;
    --primary-color-lighten: #DEEBFF;

    --secondary-color: #F2F2F2;

    --background-color: #ffffff;

    --text-color: #000000;

    --card-border-radius: 8px;
    --button-border-radius: 8px;
}

* {
    font-family: 'Raleway', sans-serif;
}

ul {
    padding-inline-start: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

.no-mobile {
    display: none;
}

.no-desktop {
    display: block;
}


/***********************/

h1 {
    font-size: 1.375em;
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: 1em;
}

.logo img {
    width: 60px;
}
    
/*******************/
/** HEADER **/
/*******************/

header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin: 2rem 0;
}

header nav {
    width: 100%;
    margin-bottom: 2rem;
}

header nav ul {
    display: flex;
    margin: 0;
}

header nav ul li {
    width: 50%;
    list-style-type: none;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding: 2rem;
    color: var(--text-color);
    border-bottom: 3px solid var(--secondary-color);
    transition: 0.3s ease-in-out;
    text-align: center;
}

header nav ul li a:hover,
header nav ul li a.selected {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}



/*******************/
/** MAIN GRID**/
/*******************/

main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    grid-template-areas: 
        "intro intro intro intro intro intro"
        "aside aside aside aside aside aside"
        "article article article article article article"
        "activities activities activities activities activities activities";
}

#intro {
    grid-area: intro;
    padding: 25px;
}

article {
    grid-area: article;
    background-color: var(--secondary-color);
}

aside {
    grid-area: aside;
    background-color: var(--secondary-color);
}

#activities {
    grid-area: activities;
    padding: 25px;
}


/*******************/
/** SECTION INTRO **/
/*******************/


.form-search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-search input {
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
}

.form-search input::placeholder {
    font-size: 1.125em;
    font-weight: 700;
}

.form-search i {
    font-size: 1.125rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);      
    border-radius: 1rem 0 0 1rem;
}

.form-search button i {
    background-color: transparent;
    border: none;      
    border-radius: 0 1rem 1rem 0;
}

.search-button {
    font-size: 1.125em;
    font-weight: 700;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 1rem 1rem 0;
    transition: 0.3s ease-in-out;
}

.search-button:hover {
    cursor: pointer;
    background-color: var(--text-color);
}

.bloc-filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bloc-filtres h2 {
    margin-right: 1rem;
}

.bloc-filtres ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.filtres a {
    display: inline-flex;
    align-items: center;
    width: 130px;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.750rem;
    font-weight: 700;
    border-radius: 2rem;
    border: 2px solid var(--secondary-color);
    transition: 0.3s ease-in-out;
}

.filtres a:hover {
    background-color: var(--primary-color-lighten);
}

.filtres a span {
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.infobar i{
    margin-right: 1rem;
    border: 1px solid var(--secondary-color);
    width: 1.375rem;
    height: 1.375rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: var(--primary-color);
}


/*******************/
/** ARTICLE **/
/*******************/

.city-locations {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}


.card-content {
    padding: 1rem 0.5rem 0.5rem
}

.card-content h3 {
    margin-top: 0;
}

.rates {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 12px;
}

.rates i {
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.rates i:last-child {
    color: var(--secondary-color);
}


/*******************/
/** ARTICLE & ASIDE**/
/*******************/


.listing-content {
    margin-bottom: 2rem;
    position: relative;
    padding: 25px;
}

.listing-content ul {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    list-style-type: none;
}

.listing-content ul li.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-color);
    border-radius: 1.250rem;
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.listing-content ul li.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1.05);
}

.listing-content ul li a.card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.listing-content ul li.card img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 124px;
    object-fit: cover;
}

.more {
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

.more:hover {
    color: var(--primary-color);
}


/*******************/
/** ASIDE **/
/*******************/

.listing-content .title-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listing-content .title-icon i {
    color: var(--primary-color);
}

.listing-content ul.popular-locations li.card {
    flex-direction: row;
}

.listing-content ul.popular-locations li.card img {
    border-radius: 1rem 0 0 1rem;
    width: 33%;
    height: 144px;
}

.listing-content ul.popular-locations li.card .card-content {
    width: 66%;
    padding: 1rem 0.5rem 0.5rem 1rem;
}

/*******************/
/** SECTION ACTIVITES **/
/*******************/

.listing-activities {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3rem;
    list-style-type: none;
}

.listing-activities .card {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.listing-activities .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.listing-activities .card img {
    width: 100%;
    height: 267px;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

.listing-activities .card .card-content {
    padding: 1.25rem;
}

.listing-activities .card .card-content h3 {
    margin-bottom: 0;
}

.listing-activities li a.card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/*******************/
/** FOOTER **/
/*******************/

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

.container-footer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    background-color: var(--secondary-color);
}

.bloc-footer ul {
    list-style-type: none;
}

.bloc-footer ul li {
    margin: 0.75rem 0;
}

.bloc-footer ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.bloc-footer ul li a:hover {
    text-decoration: underline;
}


/*******************/
/** MEDIA QUERRIES **/
/*******************/



@media screen and (min-width: 768px) {

    h3{
        font-size:14px;
    }

    header {
        width: 90%;
        flex-direction: row;
    }

    header .logo {
        margin: 0;
    }

    header nav {
        width: auto;
        margin-bottom: 0;
    }
    
    
    header nav ul li {
        width: auto;
    }

    header nav ul li a {
        border-top: 3px solid var(--secondary-color);
        border-bottom: none;
    }
    
    header nav ul li a:hover,
    header nav ul li a.selected {
        border-top: 3px solid var(--primary-color);
        border-bottom: none;
    }

    main {    
        width: 90%;
    }

    .form-search input {
        width: auto;
    }

    .filtres a {
        width: auto;
        padding: 1rem;
        font-size: 1rem;
    }

    #intro{
        grid-row: 1;
        padding: 0;
        margin-bottom: 30px;
    }

    .listing-content{
        border-radius: 20px;
    }

    #listing-locations{
        grid-row: 2;
    }

    #listing-popular{
        grid-row: 3;
    }

    #listing-popular ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 23px;
    }

    #activities{
        grid-row: 4;
        padding: 0;
    }

    .city-locations {
        grid-template-columns: repeat(3, 1fr);
    }


    footer {
        background-color: transparent;
    }

    .container-footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bloc-footer {
        padding: 0 2rem;
    }

    .listing-activities {
        column-gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

    .listing-activities .card {
        max-width: 300px;
    }
}

@media screen and (min-width: 992px) {
    
    main {
        width: 90%;
        grid-template-areas: 
        "intro intro intro intro intro intro"
        "article article article article aside aside"
        "activities activities activities activities activities activities";
    }

    .search-button {
        padding: 0.875rem 1rem;
    }

    .no-mobile {
        display: block;
    }

    .no-desktop {
        display: none;
    }
    .city-locations {
        grid-template-columns: repeat(3, 1fr);;
    }
    
    #intro{
        padding: 25px;
    }
    
    .listing-content {
        padding: 25px;
        border-radius: 1.250rem;
    }
    
    .listing-content:before {
        display: none;
    }
    
    .listing-content:after {
        display: none;
    }

    #listing-popular{
        grid-row: 2 ;
    }
    
    #listing-popular ul {
        grid-template-columns: 1fr;
    }

    .listing-activities {
        column-gap: 3rem;
    }

    .listing-activities .card img {
        width: 100%;
        height: 390px;
    }
}



